<!DOCTYPE html>
<html>
  <head>
    <title>Instagram clone with Ruby on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <%= link_to 'Top', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Your posts', posts_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </footer>
  </body>
</html>
